<!DOCTYPE html>
{% load static %}
<!-- {% static 'path' %} -->

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'video_tiktok/css/style/style.css' %}">


    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">


    <title>Dashboard - VRLabs</title>



</head>

<body>
    <div class="d-flex" id="content-wrapper">

        <!-- Sidebar -->
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4 class="text-light font-weight-bold mb-0">VRLabs</h4>
            </div>
            <!--<div class="d-flex justify-content-center mt-3">
                <form class="form-inline position-relative my-2">
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn position-absolute btn-search" type="submit"><i class="icon ion-md-search"></i></button>
            </form>

            </div>-->

            <div class="menu">
                <a href="#" class="d-block text-light p-3 border-0"><ion-icon name="videocam" class="mr-3 lead"></ion-icon> Estudio</a>

                <a href="#" class="d-block text-light p-3 border-0"><ion-icon name="card" class="mr-3 lead"></ion-icon> Créditos</a>

                <a href="#" class="d-block text-light p-3 border-0"><ion-icon name="person" class="mr-3 lead"></ion-icon> Perfil de usuario</a>
            </div>
        </div>
        <!-- Fin sidebar -->

        <div class="w-100">

         <!-- Navbar -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
    
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <a href="#" class="d-block text-light p-3 border-0">
                      <span style="font-weight: bold;"><strong>150</strong></span>
                      <ion-icon name="pulse" class="icono"></ion-icon>
                      <button class="btn btn-primary" style="border-radius: 20px;">Créditos</button></a>
                <!--<form class="form-inline position-relative d-inline-block my-2">
                  <input class="form-control bg-secundary text-light" type="search" placeholder="Buscar" aria-label="Buscar">
                  <button class="btn position-absolute btn-search" type="submit"><i class="icon ion-md-search"></i></button>
                </form>-->
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="{% static 'video_tiktok/img/user/user-1.png' %}" class=" img-fluid rounded-circle avatar mr-2"
                           alt="" />Juan Pérez
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Mi perfil</a>
                      <a class="dropdown-item" href="#">Suscripciones</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Cerrar sesión</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Fin Navbar -->

        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

              <section class="bg-light py-3">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-6 col-md-8">
                            <!-- <h1 class=" text-light font-weight-bold mb-0">Bienvenido Juan</h1> -->
                            <!-- <p class="lead text-muted">Crea un nuevo video</p> -->
                          </div>
                          <div class="col-lg-6 col-md-4 d-flex">
                            <!-- <button class="btn btn-primary w-50 align-self-center">Descargar video</button> -->
                          </div>
                      </div>
                  </div>
              </section>

              <section>
                <div class="container">
                    <div class="row">

                        <!-- Columna de video -->
                        <div class="col-lg-4 my-3">
                            <div class="card rounded-0 bg-primary">
                                <div class="card-header bg-light">
                                    <h6 class="text-light font-weight-bold mb-0">Tu video</h6>
                                </div>
                                <div class="card-body text-center bg-primary">
                                    <video id="videoPlayer" width="270" height="480" controls>
                                        <source src="{% static 'video_tiktok/videos/generated_videos/video_audio.mp4' %}" type="video/mp4">
                                        Tu navegador no soporta la etiqueta de video.
                                    </video>
                                </div>
                                <!-- Botones debajo del reproductor de video -->
                                <div class="mt-3 mb-3 d-flex justify-content-center bg-primary">
                                    <button class="btn btn-secondary mr-2" onclick="generateNewVideo()">Intentar de nuevo</button>
                                    <a href="{% static 'video_tiktok/videos/generated_videos/video_final.mp4' %}" download class="btn btn-primary">Descargar video</a>
                                </div>
                                <div class="py-2 bg-light"></div>
                            </div>
                        </div>

                        <!-- Columna de formulario y opciones -->
                        <div class="col-lg-8 my-3">
                            <div class="card rounded-0 scrollable-card bg-primary">
                                <div class="card-header bg-light">
                                    <h6 class="text-light font-weight-bold mb-0">Comencemos...</h6>
                                </div>
                                <div class="card-body pt-2 bg-primary">
                                    <div class="container my-4">
                                        <div class="row">
                                            <div class="col-12">

                                                <!-- Formulario de guion -->
                                                <form id="scriptForm">
                                                    {% csrf_token %}
                                                    <div class="form-group text-light">
                                                        <label for="videoTitle">Título del Video</label>
                                                        <input type="text" class="form-control bg-secundary text-light" id="videoTitle" placeholder="Escribe el título del video">
                                                    </div>
                                                    <div class="form-group text-light">
                                                        <label for="videoScript">Guion del Video</label>
                                                        <textarea class="form-control bg-secundary text-light" id="videoScript" rows="3" placeholder="Escribe el guion del video"></textarea>
                                                    </div>

                                                     <!-- Botón para generar guion -->
                                                    <button type="button" class="btn btn-primary" onclick="generateScript()">Generar Guion</button>

                                                    <!-- Spinner Guion-->
                                                    <div class="overlay" id="overlay" >
                                                      <div class= "spinner-container" id="spinner-container" >
                                                        <div  class= "title_spinner" id="spinner-text" >Generando guion ...</div>
                                                        <span class="spinner spinner-grow text-primary" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-success" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-danger" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-warning" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-info" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                      </div>
                                                    </div>

                                                    <!-- Modal con mensaje de error: guion  -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Oops!😱 Se ha producido un problema...</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-body" id="modalBody">
                                                            Lo sentimos, no hemos podido generar el guión que solicitaste. Por favor, inténtalo de nuevo más tarde.
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>

                                                </form>

                                                <!-- Área de guion generado -->
                                                <div class="form-group mt-4 text-light">
                                                    <label for="generatedScript">Guion Generado</label>
                                                    <textarea class="form-control bg-secundary text-light" id="generatedScript" rows="6"></textarea>
                                                </div>

                                                <!-- Botón para confirmar cambios -->
                                                <button type="button" class="btn btn-primary" onclick="generateImages()">Confirmar cambios</button>

                                                    <!-- Spinner imagenes -->
                                                    <div class="overlay" id="overlay-imagenes" >
                                                      <div class= "spinner-container" id="spinner-container-imagenes" >
                                                        <div  class= "title_spinner" id="spinner-text-imagenes" >Generando imagenes...</div>
                                                        <span class="spinner spinner-grow text-primary" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-success" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-danger" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-warning" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-info" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                      </div>
                                                    </div>

                                                <!-- Modal con mensaje de error: video -->
                                                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel2">Oops!😱 Se ha producido un problema...</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-body" id="modalBody2">
                                                              <!-- Aquí se mostrará el mensaje de error específico -->

                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>

                                                <!-- Área de prompts (oculta) -->
                                                <div class="form-group mt-4" style="display: none;">
                                                    <label for="generatedPrompt">Prompts: </label>
                                                    <textarea class="form-control" id="generatedPrompt" rows="9"></textarea>
                                                </div>


                                                <!-- Selección de voz -->
                                                <div class="form-group mt-4 text-light">
                                                    <label for="voiceSelection">Selecciona una voz</label>
                                                    <select class="form-control bg-secundary text-light" id="voiceSelection">
                                                        <!-- Opciones de voz -->
                                                        <option value="es-MX-BeatrizNeural">es-MX-BeatrizNeural</option>
                                                        <option value="es-MX-CandelaNeural">es-MX-CandelaNeural</option>
                                                        <option value="es-MX-CarlotaNeural">es-MX-CarlotaNeural</option>
                                                        <option value="es-MX-LarissaNeural">es-MX-LarissaNeural</option>
                                                        <option value="es-MX-MarinaNeural">es-MX-MarinaNeural</option>
                                                        <option value="es-MX-NuriaNeural">es-MX-NuriaNeural</option>
                                                        <option value="es-MX-RenataNeural">es-MX-RenataNeural</option>
                                                        <option value="es-MX-CecilioNeural">es-MX-CecilioNeural</option>
                                                        <option value="es-MX-GerardoNeural">es-MX-GerardoNeural</option>
                                                        <option value="es-MX-LibertoNeural">es-MX-LibertoNeural</option>
                                                        <option value="es-MX-LucianoNeural">es-MX-LucianoNeural</option>
                                                        <option value="es-MX-PelayoNeural">es-MX-PelayoNeural</option>
                                                        <option value="es-MX-YagoNeural">es-MX-YagoNeural</option>
                                                    </select>
                                                </div>

                                                <!-- Selección de música -->
                                                <div class="form-group mt-4 text-light">
                                                    <label for="musicSelection">Selecciona una música</label>
                                                    <select class="form-control bg-secundary text-light" id="musicSelection">
                                                        <!-- Opciones de música -->
                                                        <option value="ES_Empower_Osoku">ES_Empower_Osoku</option>
                                                        <option value="ES_Fight_Club_Cushy">ES_Fight_Club_Cushy</option>
                                                        <option value="ES_Neon_Lights_Neon_Dreams_Forever_Sunset">ES_Neon_Lights_Neon_Dreams_Forever_Sunset</option>
                                                        <option value="ES_Sleepy_Hungry_baegel">ES_Sleepy_Hungry_baegel</option>
                                                        <option value="ES_Streamer_Bonkers_Beat_Club">ES_Streamer_Bonkers_Beat_Club</option>
                                                        <option value="ES_SUPRA_STRLGHT">ES_SUPRA_STRLGHT</option>
                                                    </select>
                                                </div>
                                                <div class="d-flex justify-content-center mt-3">

                                                    <!-- Botón para generar video -->
                                                    <button id="generateVideoBtn" class="btn btn-primary w-50">Generar video</button>

                                                    <!-- Modal con mensaje de error: video -->
                                                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel3">Oops!😱 Se ha producido un problema...</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-body" id="modalBody3">
                                                              <!-- Aquí se mostrará el mensaje de error específico -->
                                                            Lo sentimos, ha ocurrido un error. Por favor, inténtalo de nuevo más tarde.
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>

                                                    <!-- Spinner Video-->
                                                    <div class="overlay" id="overlay-video" >
                                                      <div class= "spinner-container" id="spinner-container-video" >
                                                        <div  class= "title_spinner" id="spinner-text-video">Generando video ...</div>
                                                        <span class="spinner spinner-grow text-primary" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-success" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-danger" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-warning" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                        <span class="spinner spinner-grow text-info" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </span>

                                                      </div>
                                                    </div>  <!-- finaliza spinner-->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

           </div>
        </div>
    </div>

    <!-- Ionic icons -->
    <script  type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script  nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

 

    <script>
  // Ejecutar el script cuando el documento esté listo
  window.addEventListener("DOMContentLoaded", function() {
    // Obtener el botón del modal por su id
    var modalButton = document.getElementById("modalButton");

    // Ocultar el modal al hacer click en el botón
    modalButton.addEventListener("click", function() {
      $('#exampleModal').modal('hide');
    });
  });

  function generateScript() {
    //Obtener los valores de los campos de entrada
    const title = $('#videoTitle').val();
    const script = $('#videoScript').val();

    // Obtener el elemento overlay por su id
    var overlay = document.getElementById("overlay");
    // Cambiar el estilo de display a block para mostrarlo
    overlay.style.display = "block";

    //Enviar una solicitud POST
    $.ajax({
      type: 'POST',
      url: '{% url "generate_script" %}',
      data: {
        videoTitle: title,
        videoScript: script,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      },
      dataType: 'json',
      success: function (response) {

        // Ocultar el overlay
        overlay.style.display = "none";

        // Manejar la respuesta
        $('#generatedScript').val(response.generated_script);
      },
      error: function (error) {

        // Ocultar el overlay también en caso de error
        overlay.style.display = "none";

        // Mostrar el modal con el mensaje de error
        $('#exampleModal').modal('show');

        // Log del error
        console.log(error);
      }
    });
  }
</script>


<script>
    function generateImages() {
        // Obtener el valor del guion generado, que el usuario puede haber editado
        const editedScript = $('#generatedScript').val();

        // Obtener el elemento overlay por su id
        var overlay = document.getElementById("overlay-imagenes");

        // Cambiar el estilo de display a block para mostrarlo
        overlay.style.display = "block";

        // Enviar una solicitud POST a tu endpoint de Django para generar las imágenes
        $.ajax({
            type: 'POST',
            url: '{% url "generate_prompt" %}',
            data: {
                editedScript: editedScript,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            dataType: 'json',
            success: function (response) {
                // Ocultar el overlay
                 overlay.style.display = "none";

                $('#generatedPrompt').val(response.generated_prompt);
                console.log(response);

                // Verificar si la respuesta contiene las rutas de las imágenes
                if (response.imagePaths && response.imagePaths.length > 0) {
                    const totalImages = response.imagePaths.length;

                    // Actualizar el texto del progreso
                    updateProgress(0);

                    function updateProgress(imagesGenerated) {
                        const progressText = document.getElementById("spinner-text-imagenes");
                        progressText.innerText = `[${imagesGenerated}/${totalImages}] Generando imágenes...`;

                        if (imagesGenerated < totalImages) {
                            // Si aún no se han generado todas las imágenes, continuar actualizando
                            setTimeout(() => {
                                updateProgress(imagesGenerated + 1); // Incrementar el progreso
                            }, 1000); // Actualizar cada segundo (ajusta según sea necesario)
                        } else {
                            progressText.innerText = "Imágenes generadas con éxito!";
                        }
                    }

                    // Continuar con el resto del código de la respuesta...
                } else {
                    // Mostrar un mensaje si no se encontraron imágenes
                    console.log('No se generaron imágenes');
                }

            },
            error: function (error) {
                // Ocultar el overlay también en caso de error
                overlay.style.display = "none";
                $('#exampleModal2').modal('show');
                $('#modalBody2').text('Error al generar las imágenes. Inténtalo de nuevo más tarde.');

                //alert("Error al generar las imagenes.");
                console.log(error);
            }
        });
    }
</script>


<script type="text/javascript">
$(document).ready(function() {
    $("#generateVideoBtn").click(function() {
        const editedScript = $('#generatedScript').val();
        const selectedVoice = $('#voiceSelection').val();
        const selectedMusic = $("#musicSelection").val();

        // Obtener el elemento overlay por su id
        var overlay = document.getElementById("overlay-video");
        // Cambiar el estilo de display a block para mostrarlo
        overlay.style.display = "block";

        // Primero, generamos el audio
        $.ajax({
            type: "POST",
            url: "/texto_a_voz/",
            data: {
                'texto': editedScript,
                'voice': selectedVoice,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(audioResponse) {
                if (audioResponse.status === 'success') {
                    // Una vez que el audio se ha generado, iniciamos la generación del video
                    $.ajax({
                        type: "POST",
                        url: "/generate_video/",
                        data: {
                            'music': selectedMusic,
                            'audioPath': audioResponse.audioPath,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        success: function(response) {
                            console.log(response); // Imprime la respuesta para depurar

                            // Ocultar el overlay
                            overlay.style.display = "none";

                            // Manejar la respuesta de la generación del video
                            if (response.videoPath) {
                                //alert("Video generado con éxito!");
                                // Actualiza la fuente del reproductor de video si es necesario
                                if (response.videoPath) {
                                    const videoPlayer = $('video')[0]; // Asumiendo que hay un único elemento <video>
                                    videoPlayer.src = response.videoPath;
                                    videoPlayer.load();
                                    subtitulos();
                                }
                            } else if (response.error)  {
                                // Muestra el modal con un mensaje específico de error
                                $('#exampleModal3').modal('show');
                                $('#modalBody3').text('Error al generar el video: ' + response.error);


                            } else {
                                //alert('Respuesta inesperada del servidor');
                                // Respuesta inesperada del servidor
                                $('#exampleModal3').modal('show');
                                $('#modalBody3').text('Respuesta inesperada del servidor');
                            }
                        },
                        error: function(error) {

                            // Ocultar el overlay también en caso de error
                            overlay.style.display = "none";
                            // Error de solicitud Ajax en sí mismo
                            $('#exampleModal3').modal('show');
                            $('#modalBody3').text('Error al generar el video: ' + error.statusText);

                            //alert("Error al generar el video.");
                        }
                    });
                } else {
                    // Ocultar el overlay también en caso de error
                    overlay.style.display = "none";
                    // Muestra el modal de error
                    $('#exampleModal3').modal('show');
                    $('#modalBody3').text('Error al generar el audio.'); // Mensaje de error para el audio

                    //alert('Error al generar el audio.');
                }
            },
            error: function(error) {
                // Ocultar el overlay también en caso de error
                overlay.style.display = "none";
                //alert('Error al generar el audio.');
                // Error de solicitud Ajax en sí mismo
                $('#exampleModal3').modal('show');
                // Verificar el tipo de error y proporcionar un mensaje descriptivo
                if (error.status === 400) {
                    $('#modalBody3').text('Hubo un problema con la solicitud. Por favor, verifica los datos proporcionados e inténtalo nuevamente.');
                } else if (error.status === 500) {
                    $('#modalBody3').text('Lo sentimos, ha ocurrido un error interno en el servidor. Por favor, inténtalo más tarde.');
                } else {
                    $('#modalBody3').text('Lo sentimos, ha ocurrido un error inesperado. Por favor, inténtalo más tarde.');
                }
            }
        });
    });
});


</script>

<script>
    function subtitulos() {
    // Realiza una llamada AJAX para procesar los pasos adicionales
    $.ajax({
        type: "POST",
        url: "/procesar_subtitulos/",
        data: {
            csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(response) {
            console.log("Subtitulos generados")
        },
        error: function(error) {
            alert('Error al procesar los subtitulos.');
        }
    });
}

</script>

<script>
    function generateNewVideo() {
    $.ajax({
        type: "POST",
        url: "/generate_video/",
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
            if (response.videoPath) {
                // Actualiza el src del video y recarga el reproductor de video.
                $('#videoPlayer source').attr('src', response.videoPath);
                $('#videoPlayer')[0].load();
                alert('Video generado exitosamente!');
            } else {
                alert('Error al generar el video.');
            }
        }
    });
}

</script>


<script>
    // Almacenar datos cuando el usuario escribe
    $('#videoTitle, #videoScript, #generatedScript').on('input', function() {
        localStorage.setItem(this.id, this.value);
    });

    // Recuperar datos al cargar la página
    $(document).ready(function() {
        $('#videoTitle').val(localStorage.getItem('videoTitle'));
        $('#videoScript').val(localStorage.getItem('videoScript'));
        $('#generatedScript').val(localStorage.getItem('generatedScript'));
    });

</script>

</body>

</html>
